<body>
    <div class = "homepage">
        <div class = "center jumbotron">
            <h1>Stratagem</h1>
            <h2>Technology For Trial Lawyers By Trial Lawyers</h2>
            <%= link_to "Sign Up Now", signup_path, class: "btn btn-primary btn-lg btn-xl" %>
    </div>
</body>