<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <title>Trial Docket</title>
    </head>
    <body>
        <div class="row">
            <div class = "jumbotron">
                <div class = "jumbotron-subtitle">
                    <h1>TrialDocket</h1>
                    <h2>Trial Tech By Trial Lawyers</h2>
                </div>
                <%= link_to "Sign Up Now", signup_path, class: "btn btn-primary btn-lg btn-xl" %>
            </div>
        </div>
    </body>
</html>