<body>
    <div class = "homepage">
        <div class = "center jumbotron">
            <div class = "jumbotron-subtitle">
                <h1>Stratagem</h1>
                <h2>Trial Tech By Trial Lawyers</h2>
            </div>
            <%= link_to "Sign Up Now", signup_path, class: "btn btn-primary btn-lg btn-xl" %>
    </div>
</body>