
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #000;
    
}

.navbar {
    background: #720fa8;
    color: white;
    border: none;
}

.navbar :visited {
    text-decoration: none;
}

.homepage {
    background: #000;
}

.heading {
    color:white;
}

.jumbotron {
     background-image: asset-url("sai-kiran-anagani-61187-unsplash.jpg");
     background-size: cover;
     height: 400px;
     border: none;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.jumbotron-subtitle {
    color: #720fa8;
    background-color: black;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.btn-xl {
    font-size: 1.7em;
    background-color: #720fa8;
    margin-top: 50px;
    margin-left: 400px;
    border: solid 1px black;
}

.btn-lg {
    font-size: 1.7em;
    background-color: #720fa8;
    border: none;
    border: solid 1px black;
}

.customized-button {
    background-color: #720fa8;
}

.navbar-collapse {
    color: #fff;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-toggle {
    color: #fff;
    font-weight: bold;
}

.navbar-right {
    color: white;
    font-weight: bold;
}


.btn-xlarge {
    font-size: 1.7em;
    background-color: #720fa8;
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color:#777;
}

footer a:hover{
    color: #222;
}

footer small {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.client-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 10px;
}

.description {
    margin-top: 0;
}

.client-name {
    font-weight: bold;
    font-size: 1.5em;
}

.client-info {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.client-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.listing { 
    list-style: none;
    padding-left: 0;
}

.form-control-search {
    background-color: #000;
    text-decoration: none;
}