
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #f2f2f2;
}

.navbar {
    background: #720fa8;
    color: #fff;
    border: none;
}

.navbar :visited {
    text-decoration: none;
}

.homepage {
    background: #f2f2f2;
}

.heading {
    color: #fff;
}

.heading-nav {
    color: #fff;
    float: left;
    padding-top: 15px;
    padding-right: 20px;
}


.form {
    border: solid #000 4px;
    padding-left: 90px;
}

textarea {
    height: 15em;
    width: 25em;
}

input[type=text] {
    width: 25em;
}


a[href^="tel:"]  {
    width: 25em;
}

.jumbotron {
  background-image: asset-url("matthew-hamilton-136795-unsplash.jpg");
  background-size: cover;
  width: auto;
  height: 750px;
  border: none;
     
}

.jumbotron h1 {
    color: #720fa8;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding-right: 50px;
    font-weight: bold;
}

.jumbotron-subtitle {
    color: #720fa8;
    background-color: #f2f2f2;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}


.btn-xl {
    font-size: 1.7em;
    background-color: #720fa8;
    margin-top: 50px;
    margin-left: 425px;
    border: solid 1px black;
    font-weight: bold;
}

.btn-xl:hover {
    text-decoration: none;
}

.btn-lg {
    font-size: 1.7em;
    background-color: #720fa8;
    border: none;
    border: solid 1px black;
    
}

.btn-lg :hover {
    text-decoration: none;
}

.customized-button {
    background-color: #720fa8;
}

.navbar-collapse {
    color: #fff;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-toggle {
    color: #fff;
    font-weight: bold;
}

.navbar-right {
    color: white;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: #720fa8;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color:#777;
}

footer a:hover{
    color: #222;
}

footer small {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.client-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 10px;
}

.description {
    margin-top: 0;
}

.client-name {
    color: #000;
    font-weight: bold;
    font-size: 0.75em;
}

.client-name-user-show {
    color: #000;
}

.client-info {
    color: #000;
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
}

.client-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.listing { 
    list-style: none;
    padding-left: 0;
    color: white;
}

.form-control {
    color: #000;
}

.form-control-search {
    background-color: #f2f2f2;
    color: black;
    text-decoration: none;
}


.badge {
    background-color: #720fa8;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

.input_checkbox input {
    width: auto !important;
}